@import './variables.styl';

// Description: Glossary Plugin
dt.defined-term {
    color: $accentColor;
}

div a.term, a.term {
    color: $accentColor;
    text-decoration: underline dashed;
    text-underline-position: under;
}