:root {
  --vp-c-sponsor: #fd1d7c;

  /* Typography */
  --vp-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /* Code Snippet font */
  --vp-font-family-mono: Menlo, Monaco, Consolas, monospace;
}

:root {
  --vp-c-brand-1: hsl(36, 80%, 52%);
  --vp-c-brand-2: hsl(36, 90%, 62%);
  --vp-c-brand-3: hsl(36, 95%, 78%);
  --vp-c-brand-soft: hsla(36, 80%, 52%, 0.25);

  --vp-c-bg: hsl(0, 0%, 95%);
  --vp-c-bg-alt: hsl(0, 0%, 100%);
  --vp-c-bg-elv: hsl(0, 0%, 97%);
  --vp-c-bg-soft: hsl(0, 0%, 90%);

  --vp-nav-bg-color: var(--vp-c-bg);
  --vp-home-hero-name-color: var(--vp-c-brand);
  --vp-button-brand-bg: var(--vp-c-brand);

  --vp-custom-block-tip-bg: rgb(204 204 204 / 16%);

  --vp-c-divider: var(--vp-c-bg-soft);
}

:root.dark {
  --vp-c-bg: hsl(215, 17%, 18.5%);
  --vp-c-bg-alt: hsl(215, 17%, 16%);
  --vp-c-bg-elv: hsl(215, 17%, 24%);
  --vp-c-bg-soft: hsl(215, 17%, 16%);

  --docsearch-container-background: hsla(0,0%,40%,0.3);
}


.VPNavBar:not(.has-sidebar):not(.top) {
  border-bottom-color: transparent !important;
}

.VPNavBar.top #local-search>button {
  background-color: var(--vp-c-bg-elv);
}

/* Custom Stlye */
dt.defined-term {
  color: var(--vp-c-brand) !important;
  text-transform: uppercase;
}

kbd {
  display: inline-block;
  padding: 0.0em 0.6em;
  font-size: 0.85em;
  color: var(--vp-c-text-1);
  vertical-align: middle;
  background-color: var(--vp-c-bg-elv);
  border: solid 1px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 0 2px var(--vp-c-bg-soft) inset;
  margin-right: 0.2em;
  transition: all 0.2s ease;
}

kbd:active {
  background-color: var(--vp-c-bg-soft);
}
