name: Github Pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: |
          yarn install

      - name: Build Docs
        run: |
          yarn build
          touch docs/.vuepress/dist/.nojekyll
          cp CNAME docs/.vuepress/dist

      - name: Deploy Docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: docs/.vuepress/dist
